<% submit_text = answer.persisted? ? "回答を編集する" : "回答する" %>
<%= form_with model: [question, answer] do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <%= f.submit submit_text, class: 'btn btn-primary d-block m-auto' %>
<% end %>